<div class="panel-header panel-header-sm"></div>

<div class="main-content">
    <div class="row">
        <div class="card">
            <div class="card-header" style="padding: 10px;">
                <div class="row w-100 m-0">
                    <h4 class="col float-left m-0">Fees Structures</h4>
                    <button mat-button class="default no-hover-effect float-right" (click)="openFeeDialog('ADD')">Add
                        New Structure
                    </button>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-body p-3">
                <table class="table table-hover table-responsive-lg text-center">
                    <thead class="text-primary">
                        <th>Sr. No</th>
                        <th>Name</th>
                        <th>Total</th>
                        <th>Created On</th>
                        <th>Active</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let fee of appStore.feeStructures; index as idx">
                            <td>{{ idx + 1 }}</td>
                            <td>{{ fee.name | titlecase }}</td>
                            <td>{{ fee.total }}</td>
                            <td>{{ fee.createdOn['seconds'] * 1000 | date: 'yyyy-MM-dd, hh:mm:ss aa' }}</td>
                            <td>
                                <mat-slide-toggle color="primary" class="mb-2" [checked]="fee.active"
                                    (change)="updateActiveStatus(fee.docId, $event.checked)">
                                </mat-slide-toggle>
                            </td>
                            <td>
                                <button mat-icon-button class="text-primary" title="View Fee Components"
                                    (click)="openFeeDialog('VIEW', fee)">
                                    <mat-icon>view_list</mat-icon>
                                </button>
                                <button mat-icon-button class="text-primary" title="Update Details"
                                    (click)="openFeeDialog('UPDATE', fee)">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-icon-button title="Delete User" (click)="deleteFeeStructure(fee.docId)">
                                    <mat-icon style="color: red;">delete</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
