* {
  margin: 0;
  padding: 0;
}

@media all and (min-width: 992px) {
  .sidebar .nav>li.active-pro {
    position: absolute;
    width: 100%;
    bottom: 10px;
  }
}

.card.card-upgrade .card-category {
  max-width: 530px;
  margin: 0 auto;
}

.addStaffDialog .cdk-global-overlay-wrapper, .cdk-overlay-container {
  z-index: 99999 !important;
}

.addStaffDialog .mat-dialog-content {
  padding: 10px !important;
}

.mat-horizontal-content-container {
  padding: 0px;
}

.mat-spinner circle {
  stroke: #fff;
}

.deleteModal .mat-dialog-container {
  padding: 0px 24px !important;
}

.default {
  background: #2A9D8F;
  color: #fff;
}