<div class="container-fluid">
    <div class="row d-flex align-items-center justify-content-center p-2">
        <h6 class="col-md-6">Roles</h6>
        <div class="input-group mb-3 col-md-6 float-right">
            <input type="text" class="form-control" id="roleName" name="roleName"
                [(ngModel)]="roleName" placeholder="Role" aria-label="roles"
                aria-describedby="button-addon2">
            <div class="input-group-append">
                <button class="btn btn-sm btn-primary m-0 add" type="button" id="button-addon2"
                    (click)="pushDataToFirestore()">
                    <span *ngIf="!updating">Add</span>
                    <span *ngIf="updating">Update</span>
                </button>
            </div>
        </div>
    </div>
    <div class="p-0">
        <table class="table table-striped table-hover table-responsive-lg">
            <thead class="text-primary text-center">
                <th>Sr.No</th>
                <th>Name</th>
                <th>Active Status</th>
                <th>Actions</th>
            </thead>
            <tbody class="text-center">
                <tr *ngFor="let role of miscs.roles; index as i">
                    <td>{{ i + 1 }}</td>
                    <td>{{ role.name | titlecase }}</td>
                    <td>
                        <mat-slide-toggle color="primary" class="mb-2" [checked]="role.active"
                            (change)="updateActiveStatus(role.docId, $event.checked)">
                        </mat-slide-toggle>
                    </td>
                    <td>
                        <button mat-icon-button class="text-primary" title="Update Details"
                            (click)="assignValueToField(role)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-icon-button (click)="miscs.deleteData(role.docId)"
                            title="Delete">
                            <mat-icon style="color: red;">delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- [value]="user.isVerified" [checked]="user.isVerified" -->