.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #888;
}

.box:last-child {
    border: none;
}

.heading {
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 600;
}

.size {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}